@import 'colors.scss';
.subscribe{
  display: flex;
  justify-content: center;

  text-align: center;
  background-color: $dark;
  height: 450px;
}
.cont{
  margin-top: 80px;
  width: 80%;
}
.num {
  font-size: 50px;
  font-weight: 700;
}
.p{
  font-size: 20px;
  font-weight: 500;
}
.col1{
  color: #ffffff;
}
.col1.sign {
  color: #ffffff;
  width: 90%;

  max-width: 610px;
}
.layover{
  background: linear-gradient(to right, #fc5c64,#fc5c64);
  width: 95%;
  height: 300px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cap{
  font-size: 30px;
  font-weight: 500;
}
.cont2{
  display: flex;
  justify-content: center;
  margin-top: -150px;
  margin-bottom: 90px;
}
.input1{
  background: linear-gradient(to right, #fc5c64,#fc5c64);
  border: 1px solid #ffffff;
  border-radius: 5px 0px 0px 5px;
  width: 90%;
  max-width: 500px;
  padding: 20px 15px;
  color: #fff;
}
.input1:focus{
  outline: 0;
}
.email{
  display: flex;
  margin-top: 30px;
}
.button{
  background-color: #ffffff;
  padding: 20px 10px;
  border-radius: 0px 5px 5px 0px;
  border-style: none;
  text-decoration: none;
  width: 140px;
  color: #afaeb5;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FFF;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #FFF;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #FFF;
}
