<div class="testimonial">
  <div class="container  ">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 ">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img src="assets/images/compiler_logo.png" class="d-block" alt="compiler">
              <div class="carousel-caption shadow-sm  bg-body rounded">
                <div>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, ab est delectus, ad esse in molestiae totam alias ipsa vero nam commodi eligendi dolores! Neque
                    quisquam asperiores aliquid perspiciatis cupiditate!</p>

                  <img src="assets/images/6.jpg" alt="">
                  <span>
                    <h4>name</h4>
                    <p>position</p>
                  </span>
                  <!-- <div class="row">
                    <div class="col-3">
                      <div>

                      </div>
                    </div>
                    <div class="col-9">
                      <div>

                      </div>
                    </div>
                  </div> -->
                </div>
                <div>

                </div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="assets/images/compiler_logo.png" class="d-block" alt="compiler">
              <div class="carousel-caption shadow-sm  bg-body rounded">
                <div>
                  <p>2Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, ab est delectus, ad esse in molestiae totam alias ipsa vero nam commodi eligendi dolores! Neque
                    quisquam asperiores aliquid perspiciatis cupiditate!</p>

                  <img src="assets/images/6.jpg" alt="">
                  <span>
                    <h4>name</h4>
                    <p>position</p>
                  </span>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/images/compiler_logo.png" class="d-block" alt="compiler">
              <div class="carousel-caption shadow-sm   bg-body rounded">
                <div>
                  <p>3Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, ab est delectus, ad esse in molestiae totam alias ipsa vero nam commodi eligendi dolores! Neque
                    quisquam asperiores aliquid perspiciatis cupiditate!</p>

                  <img src="assets/images/6.jpg" alt="">
                  <span>
                    <h4>name</h4>
                    <p>position</p>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

      </div>
    </div>
  </div>

</div>
