<section class="review" id="review">
  <div class="review-heading">
    <h1>Our Servces</h1>
  </div>
  <div class="review-container">
    <div class="container">

      <div class="row d-flex justify-content-center">

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <div class="box">

            <div class="row">

              <div class="col-3">
                <div class="d-flex flex-column align-items-center">
                  <div class="icon">
                    <img src="https://template.hasthemes.com/jesco/jesco/assets/images/icons/1.png">
                  </div>
                </div>
              </div>

              <div class="col-9">
                <h1>header1</h1>
                <p> Since long i was suffering from blood in cough but no doctor except Dr.Vijay kumar chennam chetty identified my problem and started the diagnosis </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <div class="box">

            <div class="row">

              <div class="col-3">
                <div class="d-flex flex-column align-items-center">
                  <div class="icon">
                    <img src="https://template.hasthemes.com/jesco/jesco/assets/images/icons/1.png">
                  </div>
                </div>
              </div>

              <div class="col-9">
                <h1>header1</h1>
                <p> Since long i was suffering from blood in cough but no doctor except Dr.Vijay kumar chennam chetty identified my problem and started the diagnosis </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <div class="box">

            <div class="row">

              <div class="col-3">
                <div class="d-flex flex-column align-items-center">
                  <div class="icon">
                    <img src="https://template.hasthemes.com/jesco/jesco/assets/images/icons/1.png">
                  </div>
                </div>
              </div>

              <div class="col-9">
                <h1>header1</h1>
                <p> Since long i was suffering from blood in cough but no doctor except Dr.Vijay kumar chennam chetty identified my problem and started the diagnosis </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <div class="box">

            <div class="row">

              <div class="col-3">
                <div class="d-flex flex-column align-items-center">
                  <div class="icon">
                    <img src="https://template.hasthemes.com/jesco/jesco/assets/images/icons/1.png">
                  </div>
                </div>
              </div>

              <div class="col-9">
                <h1>header1</h1>
                <p> Since long i was suffering from blood in cough but no doctor except Dr.Vijay kumar chennam chetty identified my problem and started the diagnosis </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
