@font-face {
  font-family: "avenir-heavy";
  src: url("assets/avenir_ff/avenir_heavy.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "avenir-black";
  src: url("assets/avenir_ff/avenir_black.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "avenir-medium";
  src: url("assets/avenir_ff/avenir_medium.ttf");
  font-weight: 600;
}

body {
  font-family: "avenir-heavy" !important;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: "avenir-black";
}
